#
# python binary files
#
*.pyc
*.pyo

#
# encrypted files and hashes
#
*.enc*
*.dec*.png
*.dec*.bmp
*.dec*.jpg
*hashes.txt

#
# public keys, signatures, encrypted and decrypted files
#
*.dec
*.enc
*.pub
*.prv
*.sig

#
# compressed files
#
*.zip
*.rar
*.tar
*.gz
*.tgz
*.bz2
*.tbz
*.tbz2
*.txz

#
# text files
#
*.txt