#
# python binary files
#
*.pyc
*.pyo

#
# encrypted files and hashes
#
*.enc*
*.dec*.png
*.dec*.bmp
*.dec*.jpg
*hashes.txt

#
# compressed files
#
*.zip
*.rar
*.tar
*.gz
*.tgz
*.bz2
*.tbz
*.tbz2
*.txz